/*
Theme Name: MagZine
Theme URI: http://pupungbp.erastica.com/
Description: MagZine free wordpress theme design - a simple magazine / newspaper look wordpress theme design by <a href="http://pupungbp.erastica.com>Pupung Budi Purnama</a>
Version: 1.0
Author: Pupung Budi Purnama
Tags: light, three-columns, two-columns, fixed-width, threaded-comments
*/

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:900&v2);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic&v2);
@import url(http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700&v2);

* {
	margin: 0;
	padding: 0;
}
body {
	background: #000 url(http://evr14.naked-on-pluto.net/images/theatrical_opening.jpg) center fixed;
	padding: 12px;
	text-align: center;
	font-size: 13px;
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	color: #a87436;
}
body.home #content {
	min-height:500px;
  	height:auto !important;
  	height:500px;
}
body #content {
	background: #fff url(images/paperish.png);
	min-height:500px;
  	height:auto !important;
  	height:500px;
}
a {
	color: #DE402F;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
.ffix {
	clear: both;
}
p {
	letter-spacing: 1px;
	line-height: 20px;
	padding: 5px 0px;
}
.spr {
    padding-top: 5px;
    padding-bottom: 5px;
}
abbr {
	border-bottom: 1px dotted #f8e4b6;
	cursor: help;
}
acronym {
	border-bottom: 1px dashed #f8e4b6;
	cursor: help;
}
blockquote {
	padding: 20px 50px;
	font-size: 14px;
	font-family: 'Amaranth', sans-serif;
	min-height: 70px;
	line-height: 18px;
	background: url(images/blockquote.gif) no-repeat top left;
	clear: both;
}


#outer {
	background: #f8f2e5 url(images/paper_border.png);
	width: 960px;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
}

#container {
	border: 1px solid #f8e4b6;
}
#header {
	//background-color: #FFF;
	background-image: url(images/naked_rays_noise.png);
	background-position: center;
	height: 160px;
}
#header h1 {
	font-size: 104px;
	font-family: 'Maven Pro', cursive; 
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
	color: #601814;
	line-height: 90px;
}
#title {
    text-decoration: none;
}

#subtitle {
    text-align: center;
    font-size: 22px;
    font-family: 'Maven Pro', cursive;
    text-transform: uppercase;
    color: #601814;
    padding-bottom: 20px;
}
#infohead {
    font-size: 12px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #601814;
    text-align: center;
    padding-left: 18px;
}
#infohead table {
    width: 920px;
}
#date {
    text-align:right;
}
#alttitle {
    text-align: left;
}
#tagline {
	background: #000;
	color: #fff;
	text-transform: uppercase;
	float: right;
	padding: 5px;
}
ul.nav {
	height: 40px;
	border-bottom: 1px solid #f8e4b6;
	list-style: none;
}
ul.nav li {
	float: left;
	display: block;
	text-transform: uppercase;
	line-height: 38px;
	border-right: 1px solid #f8e4b6;
	padding: 1px;
}
ul.nav li a {
	display: block;
	float: left;
	text-decoration: none;
	padding: 0 10px;
	border: none;
}
ul.nav li a:hover, ul.nav li a.active {
	background: #000;
	color: #fff;
	border-bottom: none;
}
.left {
	width: 260px;
	float: left;
	padding: 10px;
}
.left .featured .list h3, .left .featured .list .category {
	float: none;
}
.category {
	text-transform: uppercase;
}
.spot {
    font-size: 12px;
    text-transform: uppercase;
}
.category a {
	color: #601814;
	border: none;
}
.post h2 {
	font-size: 18px;
	line-height: 18px;
	font-family: 'Amaranth', sans-serif;
	padding: 5px 0;
}
h2 {
	text-transform: uppercase;
}
.post h2 a {
	text-decoration: none;
	border-bottom: none;
	color: #601814;
}

.post {
	padding-bottom: 15px;
	background: url(images/stripe.gif) repeat-x bottom;
	margin-bottom: 15px;
}
.post hr, .single-main hr {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #f8e4b6;
	width: 64px;
}
.post .author {
	padding-bottom: 10px;
	color: #de402f;
	text-decoration: underline;
}
.post .author em {
	font-family: 'Amaranth', sans-serif;
	font-style: italic;
}
.focus {
	width: 657px;
	padding: 10px;
	border-bottom: 1px solid #f8e4b6;
	//background-color: #fff;
	border-right: 1px solid #f8e4b6;
	border-left: none;
	border-top:none;
}
.right {
    //background-color: #FFF;
	float: left;
	width: 677px;
	border-left: 1px solid #f8e4b6;
	border-right: none;
	border-top:none;
	border-bottom: none;
}
.main {
	width: 418px;
	padding: 10px;
	float: left;
	border-right: 1px solid #f8e4b6;
	border-left: none;
	border-top:none;
	border-bottom: none	
}
.main .post h2 {
	font-size: 24px;
	line-height: 22px;
}
.featured {

}
.featured h2, .sidebar h2, .single-sidebar h2 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #601814;
	font-family: 'Arvo', serif;
	padding-bottom: 10px;
}
h3 {
    text-transform: uppercase;
}
.featured h3 a {
	font-weight: normal;
	font-family: 'Amaranth', sans-serif;
	text-decoration: none;
	font-size: 14px;
	border-bottom: none;
}

.list {
	padding-bottom: 10px;
}
.list .thumb {
	float: left;
	background: #FFF url(images/paper_border.png);
	padding: 5px;
	margin-right: 10px;
}
.list h3 {
	/*float: left;*/
}
.list .category {
	/*float: left;*/
}
.sidebar {
    //background-color: #FFF;
    float: left;
	width: 196px;
	padding: 10px;
	width: 218px;
}
.sidebar a {
	border-bottom: none;
}
.sidebar a:hover {
	color: #f8f2e5;
}
.sidebar h2 {

}
#sprs {
    font-size: 12px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #601814;
}
#searchform {
	padding-bottom: 15px;
}
#searchform label {
	padding: 0 0 8px 0;
	display: block;
}
.sidebar ul {
	list-style: none;
	padding-bottom: 15px;
}
.sidebar ul li {
	padding: 5px 0;
	border-bottom: 1px solid #f8e4b6;
}
.bestweb, .links {
	padding-bottom: 20px;
}
.bestweb a, .links a {
	text-decoration: none;
}
.links ul {
	list-style: none;
}
.links ul li {
	padding: 3px 0;
}
.single-main {
    	border-right: 1px solid #f8e4b6;
	border-left: none;
	border-top:none;
	border-bottom: none;
	width: 699px;
	padding: 10px;
	float: left;
}
.single-main img {
	padding: 5px;
	background: #FFF url(images/paperish.png);
	border: none;
}
.single-main a img {
	border: none;
}
.single-main h2 {
	font-size: 26px;
	font-family: 'Amaranth', sans-serif;
	color: #601814;
}
.wp-caption {
	background: #efefef;
	text-align: center;
	font-style: italic;
	float: left;
}
.alignleft {
	float: left;
	margin-right: 10px;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone {
	clear: both;
	float: none;
}
.single-main .sum {
	width: 200px;
	float: right;
	font-size: 16px OFLSortsMillGoudyTT;
	line-height: 22px;
	background: #efefef;
	border: 1px solid #f8e4b6;
	padding: 15px;
}
.single-main .author {
	padding-bottom: 5px;
	color: #de402f;
	text-decoration: underline;
}
.single-main .author em {
	font-family: 'Amaranth', sans-serif;
}
.single-main .date {
	padding-bottom: 10px;
	font-style: italic;
	font-family: 'Amaranth', sans-serif;
}
.single-main h3 {
	padding-top: 20px;
	font-size: 18px;
	font-family: 'Amaranth', sans-serif;
	color: #601814;
	padding-bottom: 10px;
}
.single-main ol, .single-main ul {
	padding: 5px 5px 5px 30px;
	line-height: 20px;
}
.cat .list {
	padding-bottom: 10px;
	background: url(images/stripe.gif) repeat-x bottom;
}
.cat .list a {
	border-bottom: 0;
}
.cat .list a:hover {
	background: #f8f2e5;
}
.cat .list h3 {
	padding-bottom: 3px;
}
.navigation {
	clear:both;
}
.navigation .alignright, .navigation .alignleft {
	padding: 20px 0;
}
.navigation a  {
	border-bottom: none;
}
.navigation-post {
	padding: 25px 10px 25px 10px;
}
.navigation-post a {
	font-weight: bold;
}
.author-detail {
	background: #f8f2e5 url(images/paper_border.png);
	padding: 10px;
	margin-top: 20px;
}
.author-detail p {
	line-height: 17px;
}
.author-detail a, .footer a {
	border-bottom: none;
}
.author-detail h5 {
	font-size: 16px;
	font-family: 'Amaranth', sans-serif;
	text-transform: uppercase;
	color: #601814;
}
.author-detail img.avatar {
	float: left;
	padding: 3px;
	//background: #fff;
	margin-right: 10px;
	width: auto !important;
}
.wp-smiley {
	padding: 0 !important;
}
.post-data {
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	text-align: center;
	background: url(images/stripe.gif) repeat-x top;
	border-bottom: 1px solid #f8e4b6;
}
.post-data a {
	border-bottom: none;
}

.comments {
	padding-top: 15px;
}
.comments h4 {
	font-size: 18px;
	font-family: 'Amaranth', sans-serif;
	text-transform: uppercase;
}
.comments ul {
	list-style: none;
	padding: 0;
}
.pingback a {
	border-bottom: none;
}
ul.children {
	padding-left: 50px;
	width: 570px;
}
.reply {
	padding-bottom: 10px;
}
ul.children .comment-author {
	width: 480px;
}
.writer {
	width: 555px;
	float: left;
}
.writer em {
	font-family: 'Amaranth', sans-serif;
}
.comment, .pingback {
	padding: 10px;
}
.comment p {
	line-height: 17px;
}
.comment a {
	border-bottom: none;
}
.comment p.reply {
	padding: 10px;
	background: #efefef;
}
.comment-author {
	width: 570px;
	float: left;
	padding-left: 10px;
}
.comment .avatar {
	width: 32px;
	float: left;
	padding-right: 10px;
	padding: 3px;
	background: #f8f2e5 url(images/paper_border.png);
}
.comment-meta {
	display: inline;
}
.vcard {

}
.says {
	display: none;
}
cite.fn {
	font-style: normal;
}
.gravatar img {
	padding: 3px;
	background: #A87436;
}
.comment blockquote {
	background: url(images/smallquote.gif) no-repeat top left;
	padding: 5px 30px;
}
textarea#comment {
	width: 470px;
}

.single-sidebar {
	padding: 10px;
	width: 196px;
	float: left;
}
.single-sidebar ul {
	list-style: none;
}
.single-sidebar ul li {
	
}
.single-sidebar ul li ul {
	padding-bottom: 45px;
}
.single-sidebar ul li ul li {
	padding: 5px 0;
	border-bottom: 1px solid #f8e4b6;
}
.single-sidebar ul li ul li a {
	
	border: none;
}
.single-sidebar ul li ul li a:hover {
	background: #f8f2e5;
}
p.tags {
	border: 1px dotted #f8e4b6;
	padding: 10px;
	background: #fcfcfc;
	margin-top: 10px;
}
.footer {
	background: #fff url(images/naked_rays_noise_footer.png) center;
	border-top: 1px solid #f8e4b6;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	clear: both;
    font-size: 12px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #601814;
    text-align: center;
}
.footer a {
	text-decoration: none;
	    color: #601814;
}
.footer a:hover {
    text-decoration: underline;
}
